
:root{
  --background_color: #2D3235;
  --foreground_color: #202426;
  --font_multiplier_0:1.0;
  --font_multiplier_1:1.0;
  --font_multiplier_2:1.0;
  --font_multiplier_3:1.0;
  --font_multiplier_4:1.0;
  --font_multiplier_5:1.0;
  --font_multiplier_6:1.0;
  --font_multiplier_7:1.0;
  --font_multiplier_8:1.0;
  --font_multiplier_9:1.0;
  --font_multiplier_10:1.0;
  --font_multiplier_11:1.0;
  --font_multiplier_12:1.0;
  --font_multiplier_13:1.0;
  --font_multiplier_14:1.0;
  --font_multiplier_15:1.0;
  --font_multiplier_16:1.0;
  --font_multiplier_17:1.0;
  --font_multiplier_18:1.0;
  --font_multiplier_19:1.0;
  --font_multiplier_20:1.0;
}
.s0 {
  font-size: calc(var(--font_multiplier_0) * 1vw);
}
.s0>h1, .s0>h2, .s0>h3, .s0>h4, .s0>h5, .s0>h6 {
  text-indent: calc(var(--font_multiplier_0) * 1vw);
}
.s0>p {
  text-indent: calc(var(--font_multiplier_0) * 2vw);
}

.s1 {
  font-size: calc(var(--font_multiplier_1) * 1vw);
}
.s1>h1, .s1>h2, .s1>h3, .s1>h4, .s1>h5, .s1>h6 {
  text-indent: calc(var(--font_multiplier_1) * 1vw);
}
.s1>p {
  text-indent: calc(var(--font_multiplier_1) * 2vw);
}

.s2 {
  font-size: calc(var(--font_multiplier_2) * 1vw);
}
.s2>h1, .s2>h2, .s2>h3, .s2>h4, .s2>h5, .s2>h6 {
  text-indent: calc(var(--font_multiplier_2) * 1vw);
}
.s2>p {
  text-indent: calc(var(--font_multiplier_2) * 2vw);
}

.s3 {
  font-size: calc(var(--font_multiplier_3) * 1vw);
}
.s3>h1, .s3>h2, .s3>h3, .s3>h4, .s3>h5, .s3>h6 {
  text-indent: calc(var(--font_multiplier_3) * 1vw);
}
.s3>p {
  text-indent: calc(var(--font_multiplier_3) * 2vw);
}

.s4 {
  font-size: calc(var(--font_multiplier_4) * 1vw);
}
.s4>h1, .s4>h2, .s4>h3, .s4>h4, .s4>h5, .s4>h6 {
  text-indent: calc(var(--font_multiplier_4) * 1vw);
}
.s4>p {
  text-indent: calc(var(--font_multiplier_4) * 2vw);
}

.s5 {
  font-size: calc(var(--font_multiplier_5) * 1vw);
}
.s5>h1, .s5>h2, .s5>h3, .s5>h4, .s5>h5, .s5>h6 {
  text-indent: calc(var(--font_multiplier_5) * 1vw);
}
.s5>p {
  text-indent: calc(var(--font_multiplier_5) * 2vw);
}

.s6 {
  font-size: calc(var(--font_multiplier_6) * 1vw);
}
.s6>h1, .s6>h2, .s6>h3, .s6>h4, .s6>h5, .s6>h6 {
  text-indent: calc(var(--font_multiplier_6) * 1vw);
}
.s6>p {
  text-indent: calc(var(--font_multiplier_6) * 2vw);
}

.s7 {
  font-size: calc(var(--font_multiplier_7) * 1vw);
}
.s7>h1, .s7>h2, .s7>h3, .s7>h4, .s7>h5, .s7>h6 {
  text-indent: calc(var(--font_multiplier_7) * 1vw);
}
.s7>p {
  text-indent: calc(var(--font_multiplier_7) * 2vw);
}

.s8 {
  font-size: calc(var(--font_multiplier_8) * 1vw);
}
.s8>h1, .s8>h2, .s8>h3, .s8>h4, .s8>h5, .s8>h6 {
  text-indent: calc(var(--font_multiplier_8) * 1vw);
}
.s8>p {
  text-indent: calc(var(--font_multiplier_8) * 2vw);
}

.s9 {
  font-size: calc(var(--font_multiplier_9) * 1vw);
}
.s9>h1, .s9>h2, .s9>h3, .s9>h4, .s9>h5, .s9>h6 {
  text-indent: calc(var(--font_multiplier_9) * 1vw);
}
.s9>p {
  text-indent: calc(var(--font_multiplier_9) * 2vw);
}

.s10 {
  font-size: calc(var(--font_multiplier_10) * 1vw);
}
.s10>h1, .s10>h2, .s10>h3, .s10>h4, .s10>h5, .s10>h6 {
  text-indent: calc(var(--font_multiplier_10) * 1vw);
}
.s10>p {
  text-indent: calc(var(--font_multiplier_10) * 2vw);
}

.s11 {
  font-size: calc(var(--font_multiplier_11) * 1vw);
}
.s11>h1, .s11>h2, .s11>h3, .s11>h4, .s11>h5, .s11>h6 {
  text-indent: calc(var(--font_multiplier_11) * 1vw);
}
.s11>p {
  text-indent: calc(var(--font_multiplier_11) * 2vw);
}

.s12 {
  font-size: calc(var(--font_multiplier_12) * 1vw);
}
.s12>h1, .s12>h2, .s12>h3, .s12>h4, .s12>h5, .s12>h6 {
  text-indent: calc(var(--font_multiplier_12) * 1vw);
}
.s12>p {
  text-indent: calc(var(--font_multiplier_12) * 2vw);
}

.s13 {
  font-size: calc(var(--font_multiplier_13) * 1vw);
}
.s13>h1, .s13>h2, .s13>h3, .s13>h4, .s13>h5, .s13>h6 {
  text-indent: calc(var(--font_multiplier_13) * 1vw);
}
.s13>p {
  text-indent: calc(var(--font_multiplier_13) * 2vw);
}

.s14 {
  font-size: calc(var(--font_multiplier_14) * 1vw);
}
.s14>h1, .s14>h2, .s14>h3, .s14>h4, .s14>h5, .s14>h6 {
  text-indent: calc(var(--font_multiplier_14) * 1vw);
}
.s14>p {
  text-indent: calc(var(--font_multiplier_14) * 2vw);
}

.s15 {
  font-size: calc(var(--font_multiplier_15) * 1vw);
}
.s15>h1, .s15>h2, .s15>h3, .s15>h4, .s15>h5, .s15>h6 {
  text-indent: calc(var(--font_multiplier_15) * 1vw);
}
.s15>p {
  text-indent: calc(var(--font_multiplier_15) * 2vw);
}

.s16 {
  font-size: calc(var(--font_multiplier_16) * 1vw);
}
.s16>h1, .s16>h2, .s16>h3, .s16>h4, .s16>h5, .s16>h6 {
  text-indent: calc(var(--font_multiplier_16) * 1vw);
}
.s16>p {
  text-indent: calc(var(--font_multiplier_16) * 2vw);
}

.s17 {
  font-size: calc(var(--font_multiplier_17) * 1vw);
}
.s17>h1, .s17>h2, .s17>h3, .s17>h4, .s17>h5, .s17>h6 {
  text-indent: calc(var(--font_multiplier_17) * 1vw);
}
.s17>p {
  text-indent: calc(var(--font_multiplier_17) * 2vw);
}

.s18 {
  font-size: calc(var(--font_multiplier_18) * 1vw);
}
.s18>h1, .s18>h2, .s18>h3, .s18>h4, .s18>h5, .s18>h6 {
  text-indent: calc(var(--font_multiplier_18) * 1vw);
}
.s18>p {
  text-indent: calc(var(--font_multiplier_18) * 2vw);
}

.s19 {
  font-size: calc(var(--font_multiplier_19) * 1vw);
}
.s19>h1, .s19>h2, .s19>h3, .s19>h4, .s19>h5, .s19>h6 {
  text-indent: calc(var(--font_multiplier_19) * 1vw);
}
.s19>p {
  text-indent: calc(var(--font_multiplier_19) * 2vw);
}

.s20 {
  font-size: calc(var(--font_multiplier_20) * 1vw);
}
.s20>h1, .s20>h2, .s20>h3, .s20>h4, .s20>h5, .s20>h6 {
  text-indent: calc(var(--font_multiplier_20) * 1vw);
}
.s20>p {
  text-indent: calc(var(--font_multiplier_20) * 2vw);
}



/* static */


@font-face {
  font-family: Medium;
  src:url(media/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Light;
  src:url(media/Montserrat-Light.ttf);
}

@font-face {
  font-family: Bold;
  src:url(media/Montserrat-Bold.ttf);
}

html, body{
  background: var(--background_color);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Medium;
  font-size: inherit;
}

p{
  font-family: Light;
  font-size: inherit;
}

.btn{
  filter: blur(1px)
}

.btn{
  transition-property: width, left;
  transition-duration: 0.5s;
}

@keyframes op {
  from {opacity: 0;}
  to {opacity: 1;}
}

section{
  margin: auto;
  width: fit-content;
  height: fit-content;
  animation-name: op;
  animation-duration: 1s;
}

img, video, audio{
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media print{
  section{
    page-break-after: always;
  }
}

.caption {
  text-align: center;
}

#splash {
  z-index: 1;
  text-align: center;
  font-family: Bold;
  background: black;
  position: fixed;
  padding-top: 30vh;
  font-size: 5vh;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.signal {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
