:root{
  --font_multiplier:0.1;
  --background_color: #2D3235;
  --foreground_color: #202426;
}

@font-face {
  font-family: Medium;
  src:url(media/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Light;
  src:url(media/Montserrat-Light.ttf);
}

@font-face {
  font-family: Bold;
  src:url(media/Montserrat-Bold.ttf);
}

html, body{
  height: 91vh;
  width: 95vw;
  background: var(--background_color);
}

body{
  padding-left: 2%;
  color: rgb(255, 255, 255);
}

img, video{
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 50%;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Medium;
  font-size: calc(var(--font_multiplier) * 1vw);
  text-indent: calc(var(--font_multiplier) * 1vw);
}

p{
  font-family: Light;
  font-size: calc(var(--font_multiplier) * 1vw);
  text-indent: calc(var(--font_multiplier) * 2vw);
}

.btn{
  filter: blur(1px)
}

.btn{
  transition-property: width, left;
  transition-duration: 0.5s;
}

section{
  transition-property: opacity;
  transition-duration: 1s;
}